* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.myHeader {
	background-color: rgb(123, 177, 251);
	text-align: center;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myDiv {
	width: 40%;
	border-radius: 10px;
}


.button {
	background-color: #0d70f2;
	border: none;
	color: rgb(233, 236, 240);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 10px 2px;
	cursor: pointer;
	width: 40%;
	height: 43px;
	border-radius: 5px;
}

.radio-group {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.radio-group label {
	margin-right: 10px;
}

.forDiv {
	border: 2px solid #ccc;
	padding: 10px;
	border-radius: 9px;
	width: 600px;
	margin-top: 20px;
}


.centered-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* Add this line to align items vertically */
}

.expense-summary {
	display: grid;
	grid-template-columns: 1fr auto auto;
	gap: 10px;

	width: 45%;
	align-items: center;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid black;
	border-radius: 8px;
	margin: 0 auto;
	margin-bottom: 10px;
}


.expense-details {
	display: flex;
	align-items: center;
	flex: 1;

}

.expense-date {

	font-size: 16px;
	color: black;
	margin-top: 0;
	margin-right: 50px;
	/* Adjust the margin to increase space */
}

.expense-item {


	font-size: 16px;
	color: black;
	margin-right: 100px;
	/* Adjust the margin to increase space */
	flex: 1;

}

.expense-cost {


	font-size: 16px;
	color: black;
	text-align: right;
	/* Align cost values to the right */
}


.expense-arrow {


	font-size: 25px;
}